{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>Formations</h1>


		<a href="{{path('formation_create')}}" class="btn btn-primary">Ajouter une formation</a>
	</div>
{% endblock %}
