{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<header class="masthead d-flex align-items-center" style="background-image:url({{ asset('img/home.jpg')}})">
		<div class=" container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Boumediene Barsali</h1>
					</div>
				</div>
			</div>
		</div>
	</header>
	<a href="#main" id="main-content">
		<i class="fas fa-arrow-circle-down fa-3x"></i>
	</a>
{% endblock %}
